server_name: irc.example.org
network_name: ExampleNet
sid: 0AA

motd: |
  Welcome to...
       ____
    __/ / /___ _  ___ ________
   /_  . __/  ' \/ -_) __/ __/
  /_    __/_/_/_/\__/_/  \__/
   /_/_/

  The Modern Ethereal Relay Chat daemon.

  Join us on #merc @ irc.merc-devel.com!

admin:
  name: operator
  email: dev@nu.ll
  location: Amsterdam, the Netherlands
  location_fine: Schuberg-Philis

tls:
  cert: server.crt
  key: server.key

bind:
  - host: 0.0.0.0
    port: 6667
    tls: false
    type: users

  - host: 0.0.0.0
    port: 6697
    tls: true
    type: users

  - host: "::"
    port: 6667
    tls: false
    type: users

  - host: "::"
    port: 6697
    tls: true
    type: users

  - host: 0.0.0.0
    port: 7000
    tls: false
    type: servers

links:
  irc.example.net:
    host: 127.0.0.1
    port: 5500
    hub: false
    send_password: password
    receive_password: "$pbkdf2-sha512$19000$bg1BSGmtlRLifI8xhtBaKw$Rw6XSH0fABWtLC9Q3T5CbVkA3Vh3miHrWUalqXfPycVHhHLU24e0FvolyRw.e40.sWAFcTtXf6/szo.6FcSjcA"
    tls: false
    services: false

crypto:
  hash_schemes:
    - pbkdf2_sha512

# These passwords are generated with merc-mkpasswd. See merc-mkpasswd --help for
# details.
opers:
  operator:
    password: "$pbkdf2-sha512$19000$bg1BSGmtlRLifI8xhtBaKw$Rw6XSH0fABWtLC9Q3T5CbVkA3Vh3miHrWUalqXfPycVHhHLU24e0FvolyRw.e40.sWAFcTtXf6/szo.6FcSjcA"
    hostmasks:
      - "*!*@*"

features:
  - .rfc1459
  - .ircv31
  - .ts6
  - .extban
  - .extrole
  - .is_secure
  - .isupport
