server_name: irc.example.org
network_name: ExampleNet

motd: |
    Welcome to...

     _ __ ___   ___ _ __ ___
    | '_ ` _ \ / _ \ '__/ __|
    | | | | | |  __/ | | (__ _
    |_| |_| |_|\___|_|  \___(_)

    The Modern Ethereal Relay Chat daemon.

    Join us on #merc-devel @ irc.freenode.net (ironic, I know)!

admin:
  name: operator
  email: dev@nu.ll
  location: Amsterdam, the Netherlands
  location_fine: Schuberg-Philis

ssl:
  cert: server.crt
  key: server.key

bind:
  - host: 0.0.0.0
    port: 6667
    ssl: false

  - host: 0.0.0.0
    port: 6697
    ssl: true

  - host: "::"
    port: 6667
    ssl: false

  - host: "::"
    port: 6697
    ssl: true

crypto:
  hash_schemes:
    - pbkdf2_sha256

opers:
  operator:
    password: "$pbkdf2-sha256$20000$0nqvFcL4v/e.V2otxZgTQg$QaTfsdLzNpx0eMZqmxwCoc5q7cyvmC.UKKW.cONxNSE"
    hostmasks:
      - "*!*@*"

features:
  - .admin
  - .away
  - .ban
  - .extban
  - .is_secure
  - .ison
  - .isupport
  - .join
  - .kick
  - .list
  - .lusers
  - .mode
  - .motd
  - .names
  - .nick
  - .oper
  - .ping
  - .privmsg
  - .rehash
  - .roles
  - .topic
  - .userhost
  - .version
  - .welcome
  - .who
  - .whois
